In [2]:
# class creation systanx:
class class_name:
    # attributes
    # methods

_IncompleteInputError: incomplete input (113818542.py, line 4)

In [16]:
# create student class:
class student:
    school = "xyz school"
    def__intit__(selfname,age,cls);
       self.name = name
       self.age = age
       self.cls = cls
    def details(self):
         return f"My name is {self, name} and {self, age} years old and belongs to {self, clas}"
s1 = student("Ravi", 14,9)
s2 = student("Babu", 15, 10)
print(s1.name)
print(s2.name)

IndentationError: unexpected indent (1127595491.py, line 5)

In [6]:
# create student class:
class student:
    school = "xyz school"
    def__intit__(self, name, age, cls):
        self.name = name
        self.age = age
        self.cls = cls
        print("object created")
    def details(self):
         return f"My name is {self, name} and {self, age} years old and belongs to {self, clas}"
s1 = student("Ravi", 14,9)
s2 = student("Babu", 15, 10)
print(s1.name)
print(s2.details())

SyntaxError: invalid syntax (2466338938.py, line 4)

In [26]:
# create student class:
class student:
    school = "xyz school"
    
    def __intit__(self, name, age, cls): # method
        self.name = name
        self.age = age # 
        self.cls = cls # instance attribute
        
    def details(self):
         return f"My name is {self, name} and {self, age} years old and belongs to {self, clas}"
        
s1 = student("Ravi", 14,9)
s2 = student("Babu", 15, 10)
print(s1.school)
print(s2.school)

TypeError: student() takes no arguments

In [27]:
# create student class:
class Student:
    school = "xyz school"

    def __init__(self, name, age, cls):
        self.name = name
        self.age = age
        self.cls = cls

    def details(self):
        return f"My name is {self.name}, and {self.age} years old and belong to class {self.cls}"


s1 = Student("Ravi", 14, 9)
s2 = Student("Babu", 15, 10)

print(s1.name)
print(s2.name)
print(s1.details())
print(s2.details())
print(s1.school)
print(s2.school)

Ravi
Babu
My name is Ravi, and 14 years old and belong to class 9
My name is Babu, and 15 years old and belong to class 10
xyz school
xyz school

In [29]:
# update instance and class attributes outside the class
class Student:
    school = "xyz school"

    def __init__(self, name, age, cls):
        self.name = name
        self.age = age
        self.cls = cls

    def details(self):
        return f"My name is {self.name}, and {self.age} years old and belong to class {self.cls}"


s1 = Student("Ravi", 14, 9)
s2 = Student("Babu", 15, 10)
s1.name = "Srinu"
print(s1.name)
s1.school = 'ABC school'
print(s1.school)
print(s2.school)

Srinu
ABC school
xyz school

In [35]:
# update instance and class attributes outside the class
class Student:
    school = "xyz school"

    def __init__(self, name, age, cls):
        self.name = name
        self.age = age
        self.cls = cls

    def details(self):
        return f"My name is {self.name}, and {self.age} years old and belong to class {self.cls}"
    def update_school(cls, New_school):
         student.school = new_school


s1 = Student("Ravi", 14, 9)
s2 = Student("Babu", 15, 10)
s1.name = "Srinu"
#print(s1.name)
s1.update_school("Srinu school")

#s1.school = 'ABC school'
print(s1.school)
print(s2.school)
student.school

NameError: name 'new_school' is not defined